In [66]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [67]:
df=pd.read_csv('Play.csv')

In [68]:
df

     Outlook Temperature Humidity    Wind Play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Mild     High    Weak  Yes
4       Rain        Cool   Normal    Weak  Yes
5       Rain        Cool   Normal  Strong   No
6   Overcast        Cool   Normal  Strong  Yes
7      Sunny        Mild     High    Weak   No
8      Sunny        Cool   Normal    Weak  Yes
9       Rain        Mild   Normal    Weak  Yes
10     Sunny        Mild   Normal  Strong  Yes
11  Overcast        Mild     High  Strong  Yes
12  Overcast         Hot   Normal    Weak  Yes
13      Rain        Mild     High  Strong   No

In [69]:
Le = LabelEncoder()
df.Outlook= Le.fit_transform(df.Outlook)
df.Temperature = Le.fit_transform(df.Temperature)
df.Humidity = Le.fit_transform(df.Humidity)
df.Wind = Le.fit_transform(df.Wind)

Y=df.Play = Le.fit_transform(df.Play)

In [70]:
X=df.drop('Play',axis='columns')
Y=df.Play
X

    Outlook  Temperature  Humidity  Wind
0         2            1         0     1
1         2            1         0     0
2         0            1         0     1
3         1            2         0     1
4         1            0         1     1
5         1            0         1     0
6         0            0         1     0
7         2            2         0     1
8         2            0         1     1
9         1            2         1     1
10        2            2         1     0
11        0            2         0     0
12        0            1         1     1
13        1            2         0     0

In [71]:
Y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: Play, dtype: int32

In [72]:
# Split dataset into training set and test set
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [73]:
from sklearn.naive_bayes import GaussianNB

In [74]:
model=GaussianNB()

In [75]:
model.fit(X_train,Y_train)

GaussianNB()

In [76]:
X_test

   Outlook  Temperature  Humidity  Wind
3        1            2         0     1
7        2            2         0     1
6        0            0         1     0

In [77]:
Y_test

3    1
7    0
6    1
Name: Play, dtype: int32

In [78]:
model.predict(X_test)

array([1, 1, 1])

In [79]:
model.predict([[1,2,0,1]])

c:\Users\Prathamesh Jadhav\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([1])

In [80]:
print(model.score(X_test,Y_test)*100)

66.66666666666666